apiVersion: v1
name: hazelcast
description: Helm Chart for hazelcast
version: {{ getenv "VERSION" }}
keywords:
  - hazelcast
  - kubernetes
home: https://github.com/stakater-charts/hazelcast
maintainers:
- name: Stakater
  email: hello@stakater.com